section{
    max-width: 40rem;
}
.login-Fondo{
    height: 102.5rem;
}

.formulario-login{
    width: 70rem;
    height: 50rem;
    background-color: #fff;
    border-radius: 4rem 4rem 4rem 4rem;
}